<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5c5bd5">
    <meta name="msapplication-TileColor" content="#da532c">

    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Web site demonstrating PWA with a simple note app" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel='stylesheet' href='./stylesheets/style.css'/>

</head>
<body>
{{{body}}}
<script src="./javascripts/toast.min.js" async></script>
<script src="./javascripts/luxon.min.js" async></script>
<script src="./javascripts/app.js"></script>
</body>
</html>